---
layout: default
permalink: /02-1-metrocard/cash-in-progress.html
instructions:
  title: Зачекайте...
  description: Внесено 2 ₴ 
---

<div class="main">
  <div class="container">
    
    <h2>На картці</h2>

    <div class="tableau">
      <div class="tableau__money">
        <div class="tableau__value">3<span class="sum-fraction">,80</span> <span class="currency">₴</span></div>
        <div class="tableau__value-description">залишок</div>
      </div>

      <div class="tableau__journeys tableau__journeys--empty">
        <div class="tableau__value">0</div>
        <div class="tableau__value-description">поїздок</div>
      </div>
    </div> <!-- /tableau -->

    {% include your-plan.html %}

    {% include instructions.html %}

  </div>
</div> <!-- /main -->

<div class="footer">
  <div class="metrocard-plans">
    <div class="container">
      <h2 class="metrocard-plans__title">Більша сума поповнення —<br>менший тариф за поїздку</h2>
      {% include metrocard-plans-table.html %}
    </div>
  </div> <!-- /metrocard-plans -->
</div> <!-- /footer -->
