---
layout: default
permalink: /02-1-metrocard/cash-adding-the-journeys.html
instructions:
  title: Зачекайте...
  description: Не забирайте картку.
---

<div class="main">
  <div class="container">
    
    <h2>На картці</h2>

    <div class="tableau">
      <div class="tableau__money">
        <div class="tableau__value">5<span class="sum-fraction">,80</span> <span class="currency">₴</span></div>
        <div class="tableau__value-description">залишок</div>
      </div>

      <div class="tableau__journeys tableau__journeys--empty">
        <div class="tableau__value">0</div>
        <div class="tableau__value-description">поїздок</div>
      </div>

      <div class="tableau__progress">
        <img src="../assets/i/tableau-progress.png" width="78" height="78">
      </div>
    </div> <!-- /tableau -->

    {% include your-plan.html %}

    {% include instructions.html %}

    <div class="metrocard-plans metrocard-plans--fixed">
      <div class="container">
        <h2 class="metrocard-plans__title">Більша сума поповнення —<br>менший тариф за поїздку</h2>
        {% include metrocard-plans-table.html %}
      </div>
    </div> <!-- /metrocard-plans -->

  </div>
</div> <!-- /main -->
