---
layout: default
permalink: /02-1-metrocard/smaller-banknote-needed.html
instructions:
  title: Вставте меншу купюру
  description: Максимальна сума поповнення 400 ₴.
  warning: true
---

<div class="main">
  <div class="container">
    
    <h2>На картці</h2>

    <div class="tableau">
      <div class="tableau__money">
        <div class="tableau__value">390<span class="sum-fraction">,80</span> <span class="currency">₴</span></div>
        <div class="tableau__value-description">залишок</div>
      </div>

      <div class="tableau__journeys tableau__journeys--empty">
        <div class="tableau__value">0</div>
        <div class="tableau__value-description">поїздок</div>
      </div>
    </div> <!-- /tableau -->

    {% include your-plan.html %}

    {% include instructions.html %}

    <div class="metrocard-plans metrocard-plans--fixed">
      <div class="container">
        <h2 class="metrocard-plans__title">Більша сума поповнення —<br>менший тариф за поїздку</h2>
      </div>
    </div> <!-- /metrocard-plans -->

  </div>
</div> <!-- /main -->

<div class="footer">
  <div class="container footer__container">
    <div class="footer__right">
      <div class="action-image action-image--insert-cash">
        <img class="action-image__img" src="../assets/i/insert-cash-50.png" width="177" height="111">
        <img class="action-image__arrow action-image__arrow--bottom" src="../assets/i/icon-arrow-down.png" width="40" height="19">
      </div>
    </div>
  </div>
</div> <!-- /footer -->
