<div class="header">
  <div class="container header__container">
    <div class="header__left">
      <div class="metro-logo">
        <img src="../assets/i/metro-logo.png" width="81" height="60">
      </div>

      {% if page.back-button %}<a class="btn btn--pale btn--back" href="../00-start/">← Назад</a>{% endif %}
    </div>
    <div class="header__right">
      <a class="btn btn--pale btn--lang-switch" href="../00-start/languages.html">UKR</a>
    </div>
  </div> <!-- /container -->
</div> <!-- /header -->