<div class="main">
  <div class="container">
    
    <ul class="buttons-list">
      <li class="buttons-list__item">
        <a class="btn btn--big-pic btn--big-pic--ticket" href="../01-tickets/">
          Придбати разовий квиток
        </a>
      </li>

      <li class="buttons-list__item">
        <a class="btn btn--big-pic btn--big-pic--card-recharge" href="#">
          Поповнити картку метро
        </a>
      </li>

      <li class="buttons-list__item">
        <a class="btn btn--big-pic btn--big-pic--metropass" href="#">
          Підключити MetroPass
        </a>
      </li>

      {% if page.cards-available %}
      <li class="buttons-list__item">
        <a class="btn btn--big-pic btn--big-pic--card-purchase" href="#">
          Купити картку метро
        </a>
      </li>

      {% else %}
      <li class="buttons-list__item">
        <div class="btn btn--pseudo-big-pic">
          <h2 class="buttons-list__title">Цей автомат не продає карток</h2>
          <p class="text">Скористайтесь автоматом «Продаж карток».</p>
        </div>
      </li>
      {% endif %}
    </ul>

    <div class="bottom-btn-wrapper">
      <a class="btn btn--info" href="#">
        <span class="btn--info__text">Види оплати проїзду</span>
      </a>
    </div>

  </div> <!-- /container -->
</div> <!-- /main -->
