/*  Variables
    ======================================================== */
/*  ProbaNav Webfont
    ======================================================== */
@font-face {
  font-family: 'ProbaNavWeb';
  src: url("../fonts/probanav2-light-webfont.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProbaNavWeb';
  src: url("../fonts/probanav2-regular-webfont.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProbaNavWeb';
  src: url("../fonts/probanav2-medium-webfont.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ProbaNavWeb';
  src: url("../fonts/probanav2-semibold-webfont.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProbaNavWeb';
  src: url("../fonts/probanav2-bold-webfont.ttf");
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*  Helper classes, mixins etc.
    ======================================================== */
.clearfix {
  clear: both;
}

/*  Base styles
    ======================================================== */
html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #2b283d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper {
  position: relative;
  height: 1920px;
}

.container {
  width: 880px;
  margin: 0 auto;
  position: relative;
}

/*  Typography
    ======================================================== */
body {
  font-family: 'ProbaNavWeb';
  font-size: 40px;
  color: #ceced9;
  line-height: 1.3;
}

a {
  color: #f4dd80;
  text-decoration: underline;
}

p {
  margin: 0;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  line-height: 1.125;
  font-weight: 500;
  color: #fff;
}

h1 {
  font-size: 60px;
  margin-bottom: 30px;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.text {
  font-weight: 300;
  font-size: 28px;
  line-height: 1.32;
  margin-bottom: 20px;
}

.text--prominent {
  color: #fff;
  font-size: 40px;
}

.sum-fraction,
.currency {
  font-size: 0.8em;
}

.currency--pale {
  color: #68657d;
}

.instructions {
  font-size: 40px;
  color: #fff;
  font-weight: 300;
}

.instructions__title {
  margin-bottom: 20px;
  font-size: 60px;
  color: #f4dd80;
  font-weight: 500;
  line-height: 1.125;
}

.instructions__note {
  margin-top: 40px;
  font-weight: 500;
}

.instructions__cta {
  margin-top: 20px;
}

.instructions--warning {
  padding-left: 110px;
  background: url("../i/icon-warning.png") no-repeat 0 0;
  padding-top: 8px;
}

.instructions--narrow {
  max-width: 640px;
}

.notice {
  margin: 25px 0;
  font-size: 28px;
  color: #fff;
  min-height: 40px;
  padding-top: 3px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.notice--warning {
  background: url("../i/icon-warning-small.png") no-repeat 0 0;
  padding-left: 55px;
}

.notice--prominent {
  font-size: 40px;
  font-weight: 300;
}

.address-with-pin,
.metro-station {
  padding-left: 55px;
  min-height: 40px;
}

.address-with-pin {
  background: url("../i/icon-pin.png") no-repeat 5px 0;
}

.metro-station--m1 {
  background: url("../i/m1.png") no-repeat 0 0;
}

.text-price {
  color: #f4dd80;
}

.text-economy {
  color: #24ac66;
}

/*  Buttons
    ======================================================== */
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.1;
  background-color: #68657d;
  color: #fff;
  border: none;
  padding: 21px 22px;
  text-decoration: none;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: 0 6px 0 #151527, inset 0 2px 0 #6c6c93;
}

.btn:active {
  background-color: #4a4761;
  box-shadow: 0 5px 0 #151527, inset 0 2px 0 #4a4761;
}

.btn--pale {
  color: #b9b8c9;
}

.btn--small {
  padding: 15px 24px;
}

.btn--compact {
  white-space: normal;
  line-height: 1.2;
  height: 68px;
  padding: 16px 20px;
  vertical-align: middle;
}

.btn--back {
  vertical-align: top;
}

.btn--lang-switch {
  letter-spacing: 0.075em;
  background-image: url("../i/icon-globe.png");
  background-repeat: no-repeat;
  background-position: 20px 21px;
  padding-left: 58px;
}

.btn--result-screen {
  width: 265px;
  margin-left: 30px;
}

.btn--big-pic {
  display: block;
  width: 320px;
  height: 85px;
  padding: 177px 50px 38px;
  border-radius: 8px;
  font-size: 40px;
  white-space: normal;
  background-repeat: no-repeat;
}

.btn--big-pic--ticket {
  background-image: url("../i/big-button-icons/ticket.png");
  background-position: 50% 46px;
}

.btn--big-pic--card-recharge {
  background-image: url("../i/big-button-icons/card-recharge.png");
  background-position: 50% 42px;
}

.btn--big-pic--metropass {
  background-image: url("../i/big-button-icons/metropass.png");
  background-position: 50% 42px;
}

.btn--big-pic--card-purchase {
  background-image: url("../i/big-button-icons/card-purchase.png");
  background-position: 50% 40px;
}

.btn--big-pic--payment-cash {
  background-image: url("../i/big-button-icons/payment-cash.png");
  background-position: 50% 40px;
}

.btn--big-pic--payment-card {
  background-image: url("../i/big-button-icons/payment-card.png");
  background-position: 50% 40px;
}

.btn--pseudo-big-pic {
  display: block;
  background-color: transparent;
  white-space: normal;
  text-align: left;
  border: 2px solid #68657d;
  padding: 30px 42px;
  line-height: 1.2;
  width: 332px;
  height: 236px;
  box-shadow: none;
}

.btn--pseudo-big-pic:active {
  box-shadow: none;
  background-color: transparent;
}

.btn--buy {
  min-width: 180px;
}

.buttons-list {
  margin: 0 -20px;
  padding: 0;
  overflow: hidden;
}

.buttons-list__item {
  width: 420px;
  margin: 0 20px 40px;
  padding: 0;
  float: left;
  list-style-type: none;
}

.instructions + .buttons-list {
  margin-top: 40px;
}

/*  Tables
    ======================================================== */
.table {
  width: 100%;
  margin-bottom: 100px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
}

h2 + .table,
h3 + .table {
  margin-top: 40px;
}

.cell,
.head-cell {
  border-bottom: 2px solid #514f68;
  vertical-align: top;
}

.cell {
  font-size: 60px;
  padding: 20px 0 25px;
}

.head-cell {
  padding: 0 0 10px;
  font-size: 20px;
  color: #68657d;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: left;
  font-weight: 500;
}

.cell__details {
  font-size: 40px;
  font-weight: 300;
  margin-top: 10px;
}

.cell--right,
.head-cell--right {
  text-align: right;
}

.table--compact .head-cell,
.table--compact .cell {
  border-bottom: 1px solid #514f68;
}

.table--compact .cell {
  padding: 10px 0 11px;
  font-size: 40px;
  font-weight: 300;
}

.table__last-row .cell {
  border-bottom: none;
}

/*  Action images
    Images with arrow, e.g. insert cash, get ticket etc.
    ======================================================== */
.action-image {
  position: relative;
}

.action-image__img, .action-image__arrow {
  position: absolute;
  display: block;
}

.action-image__img {
  top: 0;
  left: 0;
}

.action-image__arrow--bottom {
  bottom: 0;
  left: 50%;
  margin-left: -20px;
}

.action-image--insert-cash {
  width: 177px;
  height: 156px;
  margin-right: -20px;
}

.action-image--ticket-out {
  width: 100px;
  height: 144px;
  margin-left: 20px;
}

.action-image--insert-bank-card {
  position: absolute;
  width: 200px;
  height: 260px;
  top: 828px;
  right: -80px;
}

.action-image--insert-bank-card .action-image__arrow {
  top: 20px;
  right: 0;
}

.action-image--bank-card-out {
  position: absolute;
  width: 250px;
  height: 231px;
  top: 816px;
  right: -80px;
}

.action-image--bank-card-out .action-image__arrow {
  top: 39px;
  right: 0;
}

.action-image--enter-pin {
  position: absolute;
  width: 215px;
  height: 200px;
  top: 773px;
  right: -80px;
}

.action-image--enter-pin .action-image__arrow {
  top: 77px;
  right: 0;
}

.action-image--metrocard-in {
  position: absolute;
  width: 250px;
  height: 243px;
  top: 438px;
  right: -80px;
}

.action-image--metrocard-in .action-image__arrow {
  top: 20px;
  right: 0;
}

.action-image--metrocard-in {
  position: absolute;
  width: 250px;
  height: 231px;
  top: 438px;
  right: -80px;
}

.action-image--metrocard-in .action-image__arrow {
  top: 20px;
  right: 0;
}

/*  Header
    ======================================================== */
.header__container {
  height: 140px;
  padding-top: 60px;
  overflow: hidden;
}

.header__left {
  float: left;
}

.header__right {
  float: right;
}

.metro-logo {
  display: inline;
  position: relative;
  margin-right: 30px;
  top: 8px;
  vertical-align: top;
}

/*  Footer
    ======================================================== */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer__container {
  position: relative;
}

.footer__left, .footer__right {
  position: absolute;
  bottom: 20px;
}

.footer__left {
  left: 0;
}

.footer__right {
  right: 0;
}

.footer__hint {
  width: 440px;
}

.footer__hint-btn-wrapper {
  margin-top: 25px;
  margin-bottom: 60px;
}

.payment-types-link {
  display: block;
  background-color: #151527;
  color: #fff;
}

.payment-types-link:active {
  background-color: #111120;
}

.payment-types-link__container {
  background: url("../i/icon-info.png") no-repeat 0 50%;
  padding: 36px 0 36px;
}

.payment-types-link__text {
  display: inline-block;
  padding-right: 35px;
  padding-left: 70px;
  background: url("../i/icon-learn-more.png") no-repeat right 65%;
}

/*  Tableau
    ======================================================== */
.tableau {
  overflow: hidden;
  background-color: #151527;
  border-radius: 8px;
  margin: 20px 0 80px;
  padding: 33px 40px;
  min-height: 215px;
  line-height: 1.2;
  color: #fff;
  box-shadow: 0 2px 0 #424261, inset 0 4px 0 #020118;
}

.tableau__left {
  float: left;
}

.tableau__right {
  float: right;
  text-align: right;
}

.tableau__value {
  font-size: 160px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 7px;
}

.tableau__currency {
  font-size: 0.75em;
  color: #68657d;
}

.tableau__journeys--empty {
  color: #68657d;
}

/*  Result screens
    ======================================================== */
.result-screen {
  padding-top: 80px;
  padding-left: 115px;
  padding-right: 75px;
}

.result-screen__icon {
  margin-bottom: 40px;
}

.result-screen__title {
  font-size: 80px;
  margin-bottom: 25px;
}

.result-screen__description {
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 75px;
}

.result-screen--narrow .result-screen__title {
  max-width: 600px;
}

.result-screen--narrow .result-screen__description {
  max-width: 500px;
}

.result-screen__buttons {
  margin-left: -30px;
}

.result-screen__service-center {
  margin-top: 50px;
  font-weight: 500;
  line-height: 1.1;
}

.result-screen__service-center-address {
  margin-bottom: 20px;
}

/*  01-Tickets
    ======================================================== */
.ticket-info {
  margin-top: 30px;
  margin-bottom: 80px;
}

.ticket-info__text {
  float: left;
  width: 500px;
  padding-right: 35px;
  margin-right: 40px;
}

.ticket-info__figure {
  float: left;
  width: 305px;
  margin-top: 45px;
  text-align: right;
}

.ticket-info__img {
  position: relative;
  right: -3px;
}

.how-to-apply-tickets {
  margin-left: -5px;
  padding-top: 30px;
  padding-left: 200px;
  background: url("../i/tmp-oval.png") no-repeat 0 0;
  min-height: 160px;
  line-height: 1.25;
}

.how-to-apply-tickets--card {
  margin-top: 110px;
  padding-left: 5px;
  padding-top: 190px;
  width: 430px;
}

/*  02-Metrocard
    ======================================================== */
.instructions--metrocard {
  position: absolute;
  top: 730px;
  right: 20px;
  text-align: right;
}

.metrocard-plans {
  background-color: #151527;
  padding: 35px 0 40px;
}

.metrocard-plans__table {
  margin-bottom: 0;
}
