
/*  Action images
    Images with arrow, e.g. insert cash, get ticket etc.
    ======================================================== */

.action-image {
  position: relative;
  
  &__img,
  &__arrow {
    position: absolute;
    display: block;
  }

  &__img {
    top: 0;
    left: 0;
  }

  &--in-progress {
    opacity: 0.4;
  }

  &__comment {
    position: absolute;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
  }
}

.action-image__arrow--bottom {
  bottom: 0;
  left: 50%;
  margin-left: -20px;
}


.action-image--insert-cash {
  width: 184px;
  height: 156px;
  margin-right: -20px;
  
  .action-image__comment {
    width: 130px;
    top: 0;
    left: -135px;
  }
}

.action-image--ticket-out { 
  width: 100px;
  height: 144px;
  margin-left: 20px;
  
  .action-image__comment {
    width: 130px;
    top: 0;
    left: 130px;
  }
}

.action-image--insert-bank-card {
  position: absolute;
  width: 200px;
  height: 260px;
  top: 828px;
  right: -80px;
  
  .action-image__arrow {
    top: 20px;
    right: 0;
  }

  .action-image__comment {
    width: 160px;
    top: 300px;
    left: 0;
  }
}

.action-image--bank-card-out {
  position: absolute;
  width: 250px;
  height: 231px;
  top: 816px;
  right: -80px;
  
  .action-image__arrow {
    top: 39px;
    right: 0;
  }

  .action-image__comment {
    width: 160px;
    top: 250px;
    left: 0;
  }
}

.action-image--enter-pin {
  position: absolute;
  width: 215px;
  height: 200px;
  top: 1164px;
  right: -80px;
  
  .action-image__arrow {
    top: 52px;
    right: 0;
  }

  .action-image__comment {
    width: 140px;
    top: 180px;
    left: 0;
  }
}

.action-image--metrocard-in {
  position: absolute;
  width: 250px;
  height: 243px;
  top: 438px;
  right: -80px;
  
  .action-image__arrow {
    top: 20px;
    right: 0;
  }
}

.action-image--metrocard-out {
  position: absolute;
  width: 250px;
  height: 231px;
  top: 438px;
  right: -80px;
  
  .action-image__arrow {
    top: 20px;
    right: 0;
  }

  .action-image__comment {
    width: 200px;
    top: 250px;
    left: 0;
  }
}

.action-image--metropass-waiting {
  position: absolute;
  width: 415px;
  height: 182px;
  top: 17px;
  right: -80px;
  
  .action-image__arrow {
    top: 33px;
    right: 0;
  }
}

.action-image--bought-metrocard-out {
  position: absolute;
  width: 240px;
  height: 231px;
  top: 1424px;
  left: -10px;
  
  .action-image__arrow {
    top: 136px;
    left: -70px;
  }

  .action-image__comment {
    width: 200px;
    top: 0;
    left: 210px;
  }
}

.action-image--metrocard-and-bank-card-out {
  position: absolute;
  width: 250px;
  height: 548px;
  top: 438px;
  right: -80px;
  
  .action-image__arrow {
    top: 20px;
    right: 0;
    
    &--second {
      top: 287px;
    }
  }

  .action-image__img--second {
    top: 248px;
  }
}

.flexible-action-image {
  position: relative;
  
  .action-image {
    top: 0;
  }
}
