
/*  Base styles
    ======================================================== */

body {
  background-color: $default-blue;
  user-select: none;
}

.wrapper {
  position: relative;
  height: 1920px;
}

.container {
  width: 880px;
  margin: 0 auto;
}
