
/*  Buttons
    ======================================================== */

.btn {
  display: inline-block;
  // text-transform: uppercase;
  // letter-spacing: 0.04em;
  text-align: center;
  white-space: nowrap;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.1;
  background-color: $btn-bg;
  color: $btn-text;
  border: none;
  padding: 21px 22px;
  text-decoration: none;
  border-radius: 8px;
  user-select: none;
  
  box-shadow: 0 6px 0 $darkblue,
              inset 0 2px 0 rgba(#7b83d9, 0.25);
  // text-shadow: 0 1px 2px rgba(#000, 0.15);
  
  &:active {
    background-color: $btn-active;
    box-shadow: 0 5px 0 $darkblue,
                inset 0 2px 0 rgba(#7b83d9, 0.05);
  }
}

.btn--lang-switch {
  letter-spacing: 0.075em;
  margin-top: -14px; // Something wrong with this margin, let's fix
  background-image: url('../i/icon-globe.png');
  background-repeat: no-repeat;
  background-position: 20px 21px;
  padding-left: 58px;
}