
/*  Buttons
    ======================================================== */

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.1;
  background-color: $btn-bg;
  color: $btn-text;
  border: none;
  padding: 21px 22px;
  text-decoration: none;
  border-radius: 8px;
  user-select: none;
  
  box-shadow: 0 6px 0 $btn-shadow,
              inset 0 2px 0 $btn-inner-shadow;
  
  &:active {
    background-color: $btn-active;
    box-shadow: 0 5px 0 $btn-shadow,
                inset 0 2px 0 $btn-active;
  }
}

.btn--primary {
  background-color: $btn-primary-bg;
  box-shadow: 0 6px 0 $btn-primary-shadow;
  
  &:active {
    background-color: $btn-primary-active;
    box-shadow: 0 5px 0 $btn-primary-active-shadow;
  }
}

.btn--pale {
  color: $btn-pale-text;
}

.btn--block {
  display: block;
}

.btn--large {
  font-size: 50px;
  padding: 26px;
}

.btn--small {
  padding: 15px 24px;
}

.btn--compact {
  white-space: normal;
  line-height: 1.2;
  height: 68px;
  padding: 16px 20px;
  vertical-align: middle;
  width: 265px; // 305px - 20px - 20px
}

.btn--back {
  vertical-align: top;
}

.btn--lang-switch {
  letter-spacing: 0.075em;
  background-image: url('../i/icon-globe.png');
  background-repeat: no-repeat;
  background-position: 20px 21px;
  padding-left: 58px;
}

.btn-row {
  &--result-screen {
    margin-top: 60px;
    margin-left: -30px;
    padding-right: 75px;
    padding-left: 115px;
  }
}

.btn--result-screen {
  margin-left: 30px;
}

.btn--big-pic {
  display: block;
  width: 320px; // 400px - 50px - 50px
  height: 85px; // 300px - 177px - 38px
  padding: 177px 50px 38px;
  border-radius: 8px;
  font-size: 40px;
  white-space: normal;
  background-repeat: no-repeat;
  
    &--ticket {
      background-image: url('../i/big-button-icons/ticket.png');
      background-position: 50% 46px;
    }

    &--card-recharge {
      background-image: url('../i/big-button-icons/card-recharge.png');
      background-position: 50% 42px;
    }

    &--metropass {
      background-image: url('../i/big-button-icons/metropass.png');
      background-position: 50% 42px;
    }

    &--card-purchase {
      background-image: url('../i/big-button-icons/card-purchase.png');
      background-position: 50% 40px;
    }

    &--payment-cash {
      background-image: url('../i/big-button-icons/payment-cash.png');
      background-position: 50% 40px;
    }

    &--payment-card {
      background-image: url('../i/big-button-icons/payment-card.png');
      background-position: 50% 40px;
    }
}

.btn--pseudo-big-pic {
  display: block;
  background-color: transparent;
  white-space: normal;
  text-align: left;
  border: 2px solid $btn-bg;
  padding: 25px 40px 20px 86px;
  line-height: 1.2;
  width: 290px; // 420 - 2*2 - 40 - 86
  height: 251px; // 300 - 2*2 - 25 - 20
  box-shadow: none;
  
  &:active {
    box-shadow: none;
    background-color: transparent;
  }
}

.btn--buy {
  min-width: 180px;
}

.btn--huge {
  display: block;
  margin: 40px 0;
  padding: 52px 30px 58px;
  font-size: 80px;
  background-color: $btn-primary-bg;
  box-shadow: 0 8px 0 $btn-primary-shadow;
  
  &:active {
    background-color: $btn-primary-active;
    box-shadow: 0 5px 0 $btn-primary-active-shadow;
  }
}

.btn-group {
  margin: 40px 0 60px;
  
  &__item {
    display: block;
    margin-bottom: 20px;
  }
}

.btn--mixed {
  position: relative;
  min-height: 100px;
  font-size: 40px;
  padding: 0;
  
  &__item {
    position: absolute;
    top: 26px;
    left: 40px;
  }

  &__fare {
    position: absolute;
    width: 250px;
    top: 26px;
    right: 200px;
    text-align: right;
    color: $yellow;
    font-weight: 300;
  }

  &__sum {
    position: absolute;
    width: 300px;
    top: 26px;
    right: 40px;
    text-align: right;
  }
}

.buttons-list {
  margin: 0 -20px;
  padding: 0;
  overflow: hidden;
  
  &__title {
    margin-bottom: 10px;
  }
  
  &__item {
    width: 420px;
    margin: 0 20px 40px;
    padding: 0;
    
    float: left;
    list-style-type: none;
  }

  &__item--warning {
    background: url('../i/icon-triangle-warning-small.png') no-repeat 20px 30px;
  }
}

.instructions + .buttons-list {
  margin-top: 40px;
}

.btn-wrapper {
  margin-top: 40px;
}
