
/*  Buttons
    ======================================================== */

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.1;
  background-color: $btn-bg;
  color: $btn-text;
  border: none;
  padding: 21px 22px;
  text-decoration: none;
  border-radius: 8px;
  user-select: none;
  
  box-shadow: 0 6px 0 $btn-shadow,
              inset 0 2px 0 $btn-inner-shadow;
  
  &:active {
    background-color: $btn-active;
    box-shadow: 0 5px 0 $btn-shadow,
                inset 0 2px 0 $btn-active;
  }
}

.btn--pale {
  color: $btn-pale-text;
}

.btn--small {
  padding: 15px 24px;
}

.btn--compact {
  white-space: normal;
  line-height: 1.2;
  height: 68px;
  padding: 16px 20px;
  vertical-align: middle;
}

.btn--back {
  vertical-align: top;
}

.btn--lang-switch {
  letter-spacing: 0.075em;
  background-image: url('../i/icon-globe.png');
  background-repeat: no-repeat;
  background-position: 20px 21px;
  padding-left: 58px;
}

.btn--result-screen {
  width: 265px; // 305px - 20px - 20px
  margin-left: 30px;
}

.btn--big-pic {
  display: block;
  width: 320px; // 400px - 50px - 50px
  height: 85px; // 300px - 177px - 38px
  padding: 177px 50px 38px;
  border-radius: 8px;
  font-size: 40px;
  white-space: normal;
  background-repeat: no-repeat;
  
    &--ticket {
      background-image: url('../i/big-button-icons/ticket.png');
      background-position: 50% 46px;
    }

    &--card-recharge {
      background-image: url('../i/big-button-icons/card-recharge.png');
      background-position: 50% 42px;
    }

    &--metropass {
      background-image: url('../i/big-button-icons/metropass.png');
      background-position: 50% 42px;
    }

    &--card-purchase {
      background-image: url('../i/big-button-icons/card-purchase.png');
      background-position: 50% 40px;
    }

    &--payment-cash {
      background-image: url('../i/big-button-icons/payment-cash.png');
      background-position: 50% 40px;
    }

    &--payment-card {
      background-image: url('../i/big-button-icons/payment-card.png');
      background-position: 50% 40px;
    }
}

.btn--pseudo-big-pic {
  display: block;
  background-color: transparent;
  white-space: normal;
  text-align: left;
  border: 2px solid $btn-bg;
  padding: 30px 42px;
  line-height: 1.2;
  width: 332px; // 420 - 2*2 - 42*2
  height: 236px; // 300 - 2*2 - 30*2
  box-shadow: none;
  
  &:active {
    box-shadow: none;
    background-color: transparent;
  }
}

.btn--buy {
  min-width: 180px;
}

.buttons-list {
  margin: 0 -20px;
  padding: 0;
  overflow: hidden;
  
  &__item {
    width: 420px;
    margin: 0 20px 40px;
    padding: 0;
    
    float: left;
    list-style-type: none;
  }
}

h2 + .buttons-list {
  margin-top: 30px;
}