
/*  ProbaNav Webfont
    ======================================================== */

@font-face {
  font-family: 'ProbaNavWeb';
  src: url('../fonts/probanav2-light-webfont.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProbaNavWeb';
  src: url('../fonts/probanav2-regular-webfont.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProbaNavWeb';
  src: url('../fonts/probanav2-medium-webfont.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ProbaNavWeb';
  src: url('../fonts/probanav2-semibold-webfont.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProbaNavWeb';
  src: url('../fonts/probanav2-bold-webfont.ttf');
  font-weight: 700;
  font-style: normal;
}
