
/*  Footer
    ======================================================== */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  
  &__container {
    position: relative;
  }

  &__left,
  &__right {
    position: absolute;
    bottom: 20px;
  }

  &__left {
    left: 0;
  }

  &__right {
    right: 0;
  }

  &__hint {
    width: 440px;
  }

  &__hint-btn-wrapper {
    margin-top: 25px;
    margin-bottom: 60px;
  }
}
