
/*  Footer
    ======================================================== */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.payment-types-link {
  display: block;
  background-color: $darkblue;
  color: #fff;
  
  &:active {
    background-color: darken($darkblue, 2%);
  }
}

.payment-types-link__container {
  background: url('../i/icon-info.png') no-repeat 0 50%;
  padding: 36px 0 36px;
}

.payment-types-link__text {
  display: inline-block;
  padding-right: 35px;
  padding-left: 70px;
  background: url('../i/icon-arrow-right.png') no-repeat right 65%;
}

