
/*  Header
    ======================================================== */

.header {
  
  &__container {
    height: 140px; // 200 - 60
    padding-top: 60px;
    overflow: hidden;
  }
  
  &__left {
    float: left;
  }

  &__right {
    float: right;
  }
}

.metro-logo {
  display: inline;
  position: relative;
  margin-right: 30px;
  top: 8px;
  vertical-align: top;
}
