
/*  Header
    ======================================================== */

.header {
  height: 140px; // 200 - 60
  padding: 60px 0 0;
  
  &__left {
    float: left;
  }

  &__right {
    float: right;
  }
}

.metro-logo {
  margin-top: 10px;
}
