
/*  Instructions (they say people what to do)
    ======================================================== */

.instructions {
  font-size: 40px;
  color: $instructions-text;
  font-weight: 300;

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 60px;
    color: $instructions-title;
    font-weight: 500;
    line-height: 1.125;
  }

  &__subtitle {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  &--neutral .instructions__title {
    color: #fff;
    margin-bottom: 40px; // for better contrast between equal colors
  }

  &__note {
    margin-top: 40px;
    font-weight: 500;
  }

  &__cta {
    margin-top: 20px;
  }

  &__button {
    margin-top: 40px;
  }

  &--warning {
    padding-left: 110px;
    background: url('../i/icon-warning.png') no-repeat 0 0;
    padding-top: 8px;
  }

  &--narrow {
    max-width: 640px;
  }

  &--success {
    .instructions__title {
      color: $green;
    }
  }

  &--pseudo-result-screen {
    padding-top: 430px;
  }
}
