
/*  02-Metrocard
    ======================================================== */

.instructions--metrocard {
  position: absolute;
  top: 730px;
  right: 20px;
  text-align: right;
}

.metrocard-plans {
  &--fixed {
    position: absolute;
    top: 820px;
  }
  
  &--in-footer {
    padding: 40px 0;
    background-color: $darkblue;
  }
  
  &__table {
    margin-bottom: 0;
  }

  &__cell-sum {
    width: 260px;
  }

  &__cell-journeys {
    width: 280px;
  }

  &__cell-fare {
    width: 190px;
  }
}

.metrocard-plans__your-plan {
  border-radius: 4px;
  background-color: #39354f;
  
  .metrocard-plans__cell-sum {
    width: 230px;
    padding-left: 30px;
  }
}

.metrocard-plans__your-plan-table {
  margin: 50px 0 45px;
}
