
/*  03-Metropass
    ======================================================== */

.instructions--metropass {
  position: absolute;
  width: 440px;
  top: 240px;
  right: 0;
  text-align: right;
}

.tableau--metropass {
  min-height: 364px;
  
  .tableau__main-row .cell {
    padding-top: 36px;
  }
}
