
/*  Result screens
    ======================================================== */

.result-screen {
  padding-top: 80px;
  padding-left: 115px;
  padding-right: 75px;
  
  &__icon {
    margin-bottom: 40px;
  }
  
  &__title {
    font-size: 80px;
    margin-bottom: 40px;
    
    &--attention {
      color: $yellow;
      font-size: 60px;
    }
  }

  &__description {
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 75px;
    font-weight: 300;
  }

  &--narrow {
    .result-screen__title {
      max-width: 540px;
    }

    .result-screen__description {
      max-width: 520px;
    }
  }
}

.result-screen__buttons {
  margin-top: 60px;
  margin-left: -30px;
}

.result-screen__service-center {
  margin-top: 50px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 20px;
}


.result-screen__service-center-address {
  margin-bottom: 20px;
}


.result-screen__service-center-time {
  margin-top: 50px;
  font-weight: 500;
  line-height: 1.1;
}
