
/*  Tableau
    ======================================================== */

.tableau {
  position: relative;
  overflow: hidden;
  background-color: $darkblue;
  border-radius: 8px;
  margin: 20px 0 80px;
  padding: 33px 40px;
  min-height: 215px;
  line-height: 1.2;
  color: #fff;
  
  box-shadow: 0 2px 0 $tableau-shadow,
              inset 0 4px 0 $tableau-inner-shadow;
              
  &__left {
    float: left;
  }

  &__right {
    float: right;
    text-align: right;
  }
  
  &__value {
    font-size: 160px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 7px;
  }

  .currency {
    font-size: 0.75em;
    color: $lightblue;
    margin-left: -0.1em;
  }

  .sum-fraction {
    font-size: 0.75em;
  }
}

.tableau__journeys {
  &--empty {
    color: $lightblue;
  }

  &--added {
    color: $green;
  }
}

.tableau__progress {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 92px;
  left: 508px;
}
