
/*  Tableau
    ======================================================== */

.tableau {
  position: relative;
  overflow: hidden;
  background-color: $darkblue;
  border-radius: 8px;
  margin: 20px 0 80px;
  padding: 33px 40px;
  min-height: 215px;
  line-height: 1.2;
  color: #fff;
  
  box-shadow: 0 2px 0 $tableau-shadow,
              inset 0 4px 0 $tableau-inner-shadow;
  
  &--has-table {
    padding-top: 16px;
    padding-bottom: 0;
  }

  &__left {
    float: left;
  }

  &__right {
    float: right;
    text-align: right;
  }
  
  &__value {
    font-size: 160px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 7px;
    
    &--in-progress {
      color: #5b5b68;
      
      .currency {
        color: #2d2c41 !important;
      }
    }
  }

  &__value-description {
    font-weight: 500;
    line-height: 1;
  } 

  .currency {
    font-size: 0.75em;
    color: $lightblue;
    margin-left: -0.1em;
  }

  .sum-fraction {
    font-size: 0.75em;
  }
}

.tableau__money {
  float: left;
}

.tableau__journeys {
  float: right;
  text-align: right;

  &--empty {
    color: $lightblue;
  }

  &--added {
    color: $green;
  }
}

.tableau__progress {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 92px;
  left: 508px;
}

.tableau__table {
  margin-bottom: 0;
  font-weight: 300;
  
  .cell {
    font-size: 40px;
    vertical-align: top;
  }
}

.tableau__main-row {
  .cell {
    padding-bottom: 40px;
    height: 207px;
  }
}

.tableau__cell-name {
  width: 320px;
}

.tableau__cell-days {
  width: 200px;
}
