
/*  Tables
    ======================================================== */

.table { 
  width: 100%;
  margin-bottom: 100px;
  line-height: 1.2;
  font-weight: 500;
  color: $table-text;
}

h2 + .table,
h3 + .table {
  margin-top: 40px;
}

.cell,
.head-cell {
  border-bottom: 2px solid $table-border; 
  vertical-align: top;
}

.cell {
  font-size: 60px;
  padding: 20px 0 25px;
}

.head-cell {
  padding: 0 0 10px;
  font-size: 20px;
  color: $th;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: left;
  font-weight: 500;
}

.cell__details {
  font-size: 40px;
  font-weight: 300;
  margin-top: 10px;
}

.cell--right,
.head-cell--right {
  text-align: right;
}

.table--compact {
  .head-cell,
  .cell {
    border-bottom: 1px solid $table-border;
  }

  .cell {
    padding: 10px 0 11px;
    font-size: 40px;
    font-weight: 300;
  }
}

.table--medium {
  .cell {
    padding: 18px 0 22px;
    font-size: 40px;
    font-weight: 300;
  }
}

.table__row-compact .cell {
  padding: 10px 0 12px;
}

.table__last-row .cell {
  border-bottom: none;
}

.table--monthly-pass {
  font-weight: 300;
  margin-bottom: 70px;
  
  .cell {
    font-size: 40px;
  }
}

.table__total {
  font-weight: 500;
  font-size: 60px;
  margin-left: 0.3em;
}

.cell--strong,
.table--compact .cell--strong,
.table--medium .cell--strong {
  font-weight: 500;
}

.cell--warning {
  color: $red;
}

.table__bank-card-details {
  .cell {
    padding-top: 12px;
    padding-bottom: 25px;
  }
}
