
/*  01-Tickets
    ======================================================== */

.ticket-info {
  margin-top: 30px;
  margin-bottom: 100px;
  
  &__text {
    float: left;
    width: 500px; // 535 - 35
    padding-right: 35px;
    margin-right: 40px;
  }

  &__figure {
    float: left;
    width: 305px;
    margin-top: 45px;
    text-align: right;
  }

  &__img {
    position: relative;
    right: -3px;
  }
}

.insert-bank-card {
  position: absolute;
  top: 828px;
  right: -80px;
}

.enter-pin {
  position: absolute;
  top: 773px;
  right: -80px;
}

.bank-card-out {
  position: absolute;
  top: 816px;
  right: -80px;
}

.how-to-apply-tickets {
  margin-left: -5px;
  padding-top: 30px;
  padding-left: 200px;
  background: url('../i/tmp-oval.png') no-repeat 0 0;
  min-height: 160px;
  line-height: 1.25;
  
  &--card {
    margin-top: 110px;
    padding-left: 5px;
    padding-top: 190px;
    width: 430px;
  }
}