
/*  Typography
    ======================================================== */

body {
  font-family: 'ProbaNavWeb';
  font-size: 40px;
  color: $text;
  line-height: 1.3;
}

a {
  color: $yellow;
  text-decoration: underline;
}

p {
  margin: 0 0 0.5em;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
}

h1 {
  font-size: 60px;
  margin-bottom: 30px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 14px;
  color: $lightblue;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 8px;
  letter-spacing: 0.04em;
}

.text {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.32;
  margin-bottom: 20px;
  
  /* Sizes */
  &--large {
    font-size: 54px;
  }

  /* Colors */
  &--call        { color: $yellow; }
  &--fare        { color: $yellow; }
  &--fare-green  { color: $green; }
  &--currency    { color: $lightblue-pale; }
  &--success     { color: $lightgreen; }

  /* Combined */
  &--details {
    margin-top: 2px;
    font-size: 30px;
    color: $lightblue-pale;
  }

  &--description {
    font-size: 30px;
    color: #9d99b4;
    max-width: 640px;
  }

  &--notice {
    font-size: 14px;
    font-weight: 400;
  }

  &--medium {
    font-weight: 500;
  }
}

.sum-fraction {
  font-size: 0.8em;
}
