
/*  Typography
    ======================================================== */

body {
  font-family: 'ProbaNavWeb';
  font-size: 40px;
  color: $text;
  line-height: 1.3;
}

a {
  color: $link;
  text-decoration: underline;
}

p {
  margin: 0;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  line-height: 1.125;
  font-weight: 500;
  color: #fff;
}

h1 {
  font-size: 60px;
  margin-bottom: 30px;
  
  &--huge {
    font-size: 80px;
  }
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.text {
  font-weight: 300;
  font-size: 28px;
  line-height: 1.32;
  margin-bottom: 20px;
}

.sum-fraction,
.currency {
  font-size: 0.8em;
}

.instructions {
  font-size: 40px;
  color: #fff;
  font-weight: 300;

  &__title {
    margin-bottom: 20px;
    font-size: 60px;
    color: $instructions-title;
    font-weight: 500;
    line-height: 1.125;
  }

  &--warning {
    padding-left: 110px;
    background: url('../i/icon-warning.png') no-repeat 0 0;
    padding-top: 8px;
  }

  &--narrow {
    max-width: 640px;
  }
}
