
/*  Typography
    ======================================================== */

body {
  font-family: 'ProbaNavWeb';
  font-size: 40px;
  color: $text;
  line-height: 1.3;
}

a {
  color: $link;
  text-decoration: underline;
}

p {
  margin: 0;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  line-height: 1.125;
  font-weight: 500;
  color: #fff;
}

h1 {
  font-size: 60px;
  margin-bottom: 30px;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.text {
  font-weight: 300;
  font-size: 28px;
  line-height: 1.32;
  margin-bottom: 20px;
  
  &--prominent {
    color: #fff;
    font-size: 40px;
  }
}

.sum-fraction,
.currency {
  font-size: 0.8em;
}

.currency--pale {
  color: $lightblue;
}

.instructions {
  font-size: 40px;
  color: $instructions-text;
  font-weight: 300;

  &__title {
    margin-bottom: 20px;
    font-size: 60px;
    color: $instructions-title;
    font-weight: 500;
    line-height: 1.125;
  }

  &__note {
    margin-top: 40px;
    font-weight: 500;
  }

  &__cta {
    margin-top: 20px;
  }

  &--warning {
    padding-left: 110px;
    background: url('../i/icon-warning.png') no-repeat 0 0;
    padding-top: 8px;
  }

  &--narrow {
    max-width: 640px;
  }
}

.notice {
  margin: 25px 0;
  font-size: 28px;
  color: #fff;
  min-height: 40px; // icon height
  padding-top: 3px; // for the perfect alignment with icon
  background-repeat: no-repeat;
  background-position: 0 0;
  
  &--warning {
    background: url('../i/icon-warning-small.png') no-repeat 0 0;
    padding-left: 55px;
  }

  &--prominent {
    font-size: 40px;
    font-weight: 300;
  }
}

.address-with-pin,
.metro-station {
  padding-left: 55px;
  min-height: 40px;
}

.address-with-pin {
  background: url('../i/icon-pin.png') no-repeat 5px 0;
}

.metro-station--m1 {
  background: url('../i/m1.png') no-repeat 0 0;
}

.text-price {
  color: $yellow;
}

.text-economy {
  color: $green;
}
