
/*  Variables
    ======================================================== */

// Colors
$yellow:                    #f4dd80;
$metro-green:               #24ac66;
$darkblue:                  #151527;
$lightblue:                 #68657d; // #9a97b3;
$lightblue-pale:            #76748c;
$green:                     #24ac66;
$lightgreen:                #55c58f;
$red:                       #fb3535;

// Primary things
$background:                #2b283d;
$text:                      #ceced9; // #fff;
$link:                      $yellow;

// Buttons
$btn-bg:                    $lightblue;
$btn-text:                  #fff;
$btn-pale-text:             #b9b8c9;
$btn-hover:                 #6f6c89;
$btn-active:                #4a4761;
$btn-shadow:                $darkblue;
$btn-inner-shadow:          #6c6c93;
$btn-primary-bg:            $green;
$btn-primary-shadow:        #199851;
$btn-primary-active:        #0f8c4c;
$btn-primary-active-shadow: #0a783a;

// Tables
$table-text:                #fff;
$th:                        $lightblue;
$table-border:              #514f68;

// Tableau
$tableau-inner-shadow:      #020118;
$tableau-shadow:            #424261;

// Modals
$modal-overlay:             #110f19;
$modal-text:                #fff;
$progress-bar-bg:           $darkblue;
$progress-bar-value:        #514f68;
  
// Instructions
$instructions-title:        $yellow;
$instructions-text:         #fff;
